USE [master]
GO
/****** Object:  Database [PetiqueSpa]    Script Date: 4/17/2025 2:37:21 PM ******/
CREATE DATABASE [PetiqueSpa]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'PetShopDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\PetShopDB.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'PetShopDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\PetShopDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [PetiqueSpa].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [PetiqueSpa]
GO
/****** Object:  User [long]    Script Date: 4/17/2025 2:37:21 PM ******/
CREATE USER [long] FOR LOGIN [long] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  Table [dbo].[Customer]    Script Date: 4/17/2025 2:37:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customer](
	[customer_fullname] [nvarchar](100) NULL,
	[customer_phone] [nchar](10) NULL,
	[customer_email] [nvarchar](50) NULL,
	[customer_addresss] [nvarchar](max) NULL,
	[user_id] [nvarchar](10) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Order_Details]    Script Date: 4/17/2025 2:37:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Order_Details](
	[order_detail_id] [int] IDENTITY(1,1) NOT NULL,
	[order_id] [int] NULL,
	[product_id] [int] NULL,
	[service_booking_id] [int] NULL,
	[quantity] [int] NOT NULL,
	[price] [decimal](10, 2) NOT NULL,
 CONSTRAINT [PK__Order_De__3C5A4080AE1A63C2] PRIMARY KEY CLUSTERED 
(
	[order_detail_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Orders]    Script Date: 4/17/2025 2:37:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Orders](
	[order_id] [int] IDENTITY(1,1) NOT NULL,
	[order_date] [datetime] NULL,
	[total_price] [decimal](10, 2) NOT NULL,
	[status] [varchar](20) NOT NULL,
	[promotion_id] [nvarchar](50) NULL,
	[user_id] [nvarchar](10) NULL,
	[name] [nvarchar](255) NOT NULL,
	[phone] [varchar](20) NOT NULL,
	[email] [nvarchar](255) NOT NULL,
	[address] [nvarchar](255) NOT NULL,
	[payment_method] [nvarchar](100) NOT NULL,
	[shipping_fee] [int] NULL,
	[discount_value] [decimal](10, 2) NULL,
 CONSTRAINT [PK__Orders__4659622923C8EC33] PRIMARY KEY CLUSTERED 
(
	[order_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Pet_breeds]    Script Date: 4/17/2025 2:37:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pet_breeds](
	[pet_breeds_name] [nvarchar](50) NULL,
	[pet_breeds_id] [nvarchar](50) NOT NULL,
	[pet_id] [nvarchar](50) NULL,
 CONSTRAINT [PK_Pet_type] PRIMARY KEY CLUSTERED 
(
	[pet_breeds_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Pets]    Script Date: 4/17/2025 2:37:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pets](
	[pet_id] [nvarchar](50) NOT NULL,
	[pet_name] [varchar](255) NOT NULL,
	[pet_type] [varchar](50) NOT NULL,
	[age] [int] NOT NULL,
	[user_id] [nvarchar](10) NULL,
	[weight_kg] [decimal](5, 2) NOT NULL,
	[note] [nvarchar](255) NULL,
	[pet_gender] [nchar](10) NULL,
	[staff_id] [varchar](10) NULL,
	[pet_breeds_id] [nvarchar](50) NULL,
 CONSTRAINT [PK_Pets] PRIMARY KEY CLUSTERED 
(
	[pet_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Product_Categories]    Script Date: 4/17/2025 2:37:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Product_Categories](
	[product_category_id] [nvarchar](50) NOT NULL,
	[product_category_name] [nvarchar](255) NOT NULL,
	[product_category_description] [nvarchar](max) NULL,
 CONSTRAINT [PK__Categori__D54EE9B494AE5C41] PRIMARY KEY CLUSTERED 
(
	[product_category_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ__Categori__72E12F1B3979944B] UNIQUE NONCLUSTERED 
(
	[product_category_name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Products]    Script Date: 4/17/2025 2:37:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Products](
	[product_id] [int] IDENTITY(1,1) NOT NULL,
	[product_name] [varchar](255) NOT NULL,
	[product_description] [text] NULL,
	[product_price] [decimal](10, 2) NOT NULL,
	[product_stock_quantity] [int] NULL,
	[product_image_url] [varchar](5000) NULL,
	[product_category_id] [nvarchar](50) NULL,
	[product_description_detail] [nvarchar](max) NULL,
	[active] [bit] NULL,
 CONSTRAINT [PK__Products__47027DF5FA9C6E10] PRIMARY KEY CLUSTERED 
(
	[product_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Promotion]    Script Date: 4/17/2025 2:37:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Promotion](
	[promotion_id] [nvarchar](50) NOT NULL,
	[promotion_name] [varchar](255) NOT NULL,
	[promotion_description] [text] NULL,
	[discount_type] [varchar](10) NULL,
	[discount_value] [decimal](10, 2) NOT NULL,
	[start_date] [datetime] NOT NULL,
	[end_date] [datetime] NOT NULL,
	[min_order_value] [decimal](10, 2) NULL,
	[max_discount] [decimal](10, 2) NULL,
	[is_active] [bit] NULL,
 CONSTRAINT [PK__Promotio__2CB9556B52F0AC7D] PRIMARY KEY CLUSTERED 
(
	[promotion_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Ratings]    Script Date: 4/17/2025 2:37:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ratings](
	[rating_id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [nvarchar](10) NULL,
	[rating_star] [int] NULL,
	[comment] [nvarchar](1000) NULL,
	[order_detail_id] [int] NULL,
 CONSTRAINT [PK__Ratings__D35B278BE4BABB10] PRIMARY KEY CLUSTERED 
(
	[rating_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Service_Booking]    Script Date: 4/17/2025 2:37:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Service_Booking](
	[service_booking_id] [int] IDENTITY(1,1) NOT NULL,
	[service_id] [nvarchar](50) NOT NULL,
	[status] [nvarchar](50) NOT NULL,
	[service_booking_date] [date] NOT NULL,
	[service_booking_time] [time](0) NOT NULL,
	[create_at] [datetime] NULL,
	[note] [nvarchar](255) NULL,
	[user_id] [nvarchar](10) NOT NULL,
	[pet_id] [nvarchar](50) NOT NULL,
	[staff_id] [varchar](10) NULL,
	[schedule_id] [int] NULL,
 CONSTRAINT [PK_Service_Booking] PRIMARY KEY CLUSTERED 
(
	[service_booking_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Service_Categories]    Script Date: 4/17/2025 2:37:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Service_Categories](
	[service_category_id] [nvarchar](50) NOT NULL,
	[service_category_name] [nvarchar](255) NOT NULL,
	[status] [bit] NOT NULL,
 CONSTRAINT [PK__Service___D54EE9B4CA83980F] PRIMARY KEY CLUSTERED 
(
	[service_category_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Services]    Script Date: 4/17/2025 2:37:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Services](
	[service_id] [nvarchar](50) NOT NULL,
	[service_name] [varchar](255) NOT NULL,
	[service_description] [text] NULL,
	[service_image_url] [nvarchar](max) NULL,
	[service_category_id] [nvarchar](50) NULL,
	[service_price] [decimal](12, 2) NULL,
 CONSTRAINT [PK__Services__3E0DB8AFD95EE880] PRIMARY KEY CLUSTERED 
(
	[service_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Staff]    Script Date: 4/17/2025 2:37:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Staff](
	[staff_id] [varchar](10) NOT NULL,
	[staff_full_name] [varchar](100) NOT NULL,
	[position] [varchar](50) NOT NULL,
	[staff_phone] [varchar](15) NOT NULL,
	[staff_email] [nvarchar](255) NOT NULL,
	[staff_img] [nvarchar](1000) NULL,
	[user_id] [nvarchar](10) NULL,
 CONSTRAINT [PK_Staff_1] PRIMARY KEY CLUSTERED 
(
	[staff_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ__Staff__B43B145FD1DB4C8C] UNIQUE NONCLUSTERED 
(
	[staff_phone] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 4/17/2025 2:37:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[username] [varchar](50) NOT NULL,
	[password] [varchar](255) NOT NULL,
	[user_email] [varchar](100) NOT NULL,
	[user_phone] [varchar](15) NOT NULL,
	[verification_code] [varchar](255) NULL,
	[is_verified] [tinyint] NULL,
	[role] [nvarchar](50) NULL,
	[user_fullname] [nvarchar](255) NULL,
	[user_address] [nvarchar](500) NULL,
	[user_id] [nvarchar](10) NOT NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[user_phone] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[user_email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Work_Schedule]    Script Date: 4/17/2025 2:37:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Work_Schedule](
	[schedule_id] [int] IDENTITY(1,1) NOT NULL,
	[staff_id] [varchar](10) NOT NULL,
	[work_date] [date] NOT NULL,
	[start_time] [time](0) NOT NULL,
	[end_time] [time](0) NOT NULL,
	[status] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Work_Schedule] PRIMARY KEY CLUSTERED 
(
	[schedule_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Orders] ADD  CONSTRAINT [DF__Orders__order_da__5FB337D6]  DEFAULT (getdate()) FOR [order_date]
GO
ALTER TABLE [dbo].[Pets] ADD  CONSTRAINT [DF__Pets__weight_kg__60A75C0F]  DEFAULT ((0.00)) FOR [weight_kg]
GO
ALTER TABLE [dbo].[Promotion] ADD  CONSTRAINT [DF__Promotion__is_ac__619B8048]  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[Service_Categories] ADD  CONSTRAINT [DF__Service_C__statu__628FA481]  DEFAULT ((1)) FOR [status]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ((0)) FOR [is_verified]
GO
ALTER TABLE [dbo].[Work_Schedule] ADD  DEFAULT ('Available') FOR [status]
GO
ALTER TABLE [dbo].[Customer]  WITH CHECK ADD  CONSTRAINT [FK_Customer_Users] FOREIGN KEY([user_id])
REFERENCES [dbo].[Users] ([user_id])
GO
ALTER TABLE [dbo].[Customer] CHECK CONSTRAINT [FK_Customer_Users]
GO
ALTER TABLE [dbo].[Order_Details]  WITH CHECK ADD  CONSTRAINT [FK__Order_Det__order__6D0D32F4] FOREIGN KEY([order_id])
REFERENCES [dbo].[Orders] ([order_id])
GO
ALTER TABLE [dbo].[Order_Details] CHECK CONSTRAINT [FK__Order_Det__order__6D0D32F4]
GO
ALTER TABLE [dbo].[Order_Details]  WITH CHECK ADD  CONSTRAINT [FK__Order_Det__produ__6E01572D] FOREIGN KEY([product_id])
REFERENCES [dbo].[Products] ([product_id])
GO
ALTER TABLE [dbo].[Order_Details] CHECK CONSTRAINT [FK__Order_Det__produ__6E01572D]
GO
ALTER TABLE [dbo].[Order_Details]  WITH CHECK ADD  CONSTRAINT [FK_Order_Details_Service_Booking] FOREIGN KEY([service_booking_id])
REFERENCES [dbo].[Service_Booking] ([service_booking_id])
GO
ALTER TABLE [dbo].[Order_Details] CHECK CONSTRAINT [FK_Order_Details_Service_Booking]
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [FK_Orders_Promotion] FOREIGN KEY([promotion_id])
REFERENCES [dbo].[Promotion] ([promotion_id])
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [FK_Orders_Promotion]
GO
ALTER TABLE [dbo].[Pets]  WITH CHECK ADD  CONSTRAINT [FK_Pets_Pet_breeds] FOREIGN KEY([pet_breeds_id])
REFERENCES [dbo].[Pet_breeds] ([pet_breeds_id])
GO
ALTER TABLE [dbo].[Pets] CHECK CONSTRAINT [FK_Pets_Pet_breeds]
GO
ALTER TABLE [dbo].[Pets]  WITH CHECK ADD  CONSTRAINT [FK_Pets_Users] FOREIGN KEY([user_id])
REFERENCES [dbo].[Users] ([user_id])
GO
ALTER TABLE [dbo].[Pets] CHECK CONSTRAINT [FK_Pets_Users]
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD  CONSTRAINT [fk_products_category] FOREIGN KEY([product_category_id])
REFERENCES [dbo].[Product_Categories] ([product_category_id])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[Products] CHECK CONSTRAINT [fk_products_category]
GO
ALTER TABLE [dbo].[Ratings]  WITH CHECK ADD  CONSTRAINT [FK_Ratings_Order_Details] FOREIGN KEY([order_detail_id])
REFERENCES [dbo].[Order_Details] ([order_detail_id])
GO
ALTER TABLE [dbo].[Ratings] CHECK CONSTRAINT [FK_Ratings_Order_Details]
GO
ALTER TABLE [dbo].[Ratings]  WITH CHECK ADD  CONSTRAINT [FK_Ratings_Users] FOREIGN KEY([user_id])
REFERENCES [dbo].[Users] ([user_id])
GO
ALTER TABLE [dbo].[Ratings] CHECK CONSTRAINT [FK_Ratings_Users]
GO
ALTER TABLE [dbo].[Service_Booking]  WITH CHECK ADD  CONSTRAINT [FK_Service_Booking_Pets] FOREIGN KEY([pet_id])
REFERENCES [dbo].[Pets] ([pet_id])
GO
ALTER TABLE [dbo].[Service_Booking] CHECK CONSTRAINT [FK_Service_Booking_Pets]
GO
ALTER TABLE [dbo].[Service_Booking]  WITH CHECK ADD  CONSTRAINT [FK_Service_Booking_Services] FOREIGN KEY([service_id])
REFERENCES [dbo].[Services] ([service_id])
GO
ALTER TABLE [dbo].[Service_Booking] CHECK CONSTRAINT [FK_Service_Booking_Services]
GO
ALTER TABLE [dbo].[Service_Booking]  WITH CHECK ADD  CONSTRAINT [FK_Service_Booking_Staff] FOREIGN KEY([staff_id])
REFERENCES [dbo].[Staff] ([staff_id])
GO
ALTER TABLE [dbo].[Service_Booking] CHECK CONSTRAINT [FK_Service_Booking_Staff]
GO
ALTER TABLE [dbo].[Service_Booking]  WITH CHECK ADD  CONSTRAINT [FK_Service_Booking_Users] FOREIGN KEY([user_id])
REFERENCES [dbo].[Users] ([user_id])
GO
ALTER TABLE [dbo].[Service_Booking] CHECK CONSTRAINT [FK_Service_Booking_Users]
GO
ALTER TABLE [dbo].[Service_Booking]  WITH CHECK ADD  CONSTRAINT [FK_Service_Booking_Work_Schedule] FOREIGN KEY([schedule_id])
REFERENCES [dbo].[Work_Schedule] ([schedule_id])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[Service_Booking] CHECK CONSTRAINT [FK_Service_Booking_Work_Schedule]
GO
ALTER TABLE [dbo].[Services]  WITH CHECK ADD  CONSTRAINT [FK_Services_ServiceCategories] FOREIGN KEY([service_category_id])
REFERENCES [dbo].[Service_Categories] ([service_category_id])
GO
ALTER TABLE [dbo].[Services] CHECK CONSTRAINT [FK_Services_ServiceCategories]
GO
ALTER TABLE [dbo].[Staff]  WITH CHECK ADD  CONSTRAINT [FK_Staff_Users] FOREIGN KEY([user_id])
REFERENCES [dbo].[Users] ([user_id])
GO
ALTER TABLE [dbo].[Staff] CHECK CONSTRAINT [FK_Staff_Users]
GO
ALTER TABLE [dbo].[Work_Schedule]  WITH CHECK ADD  CONSTRAINT [FK_Work_Schedule_Staff] FOREIGN KEY([staff_id])
REFERENCES [dbo].[Staff] ([staff_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Work_Schedule] CHECK CONSTRAINT [FK_Work_Schedule_Staff]
GO
ALTER TABLE [dbo].[Promotion]  WITH CHECK ADD  CONSTRAINT [CK__Promotion__disco__797309D9] CHECK  (([discount_type]='fixed' OR [discount_type]='percent'))
GO
ALTER TABLE [dbo].[Promotion] CHECK CONSTRAINT [CK__Promotion__disco__797309D9]
GO
ALTER TABLE [dbo].[Ratings]  WITH CHECK ADD  CONSTRAINT [CK__Ratings__rating___7A672E12] CHECK  (([rating_star]>=(1) AND [rating_star]<=(5)))
GO
ALTER TABLE [dbo].[Ratings] CHECK CONSTRAINT [CK__Ratings__rating___7A672E12]
GO
USE [master]
GO
