USE [master]
GO
/****** Object:  Database [PetiqueSpa]    Script Date: 4/18/2025 8:45:14 PM ******/
CREATE DATABASE [PetiqueSpa]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'PetShopDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\PetShopDB.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'PetShopDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\PetShopDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [PetiqueSpa].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [PetiqueSpa]
GO
/****** Object:  User [long]    Script Date: 4/18/2025 8:45:15 PM ******/
CREATE USER [long] FOR LOGIN [long] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  Table [dbo].[Customer]    Script Date: 4/18/2025 8:45:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customer](
	[customer_fullname] [nvarchar](100) NULL,
	[customer_phone] [nchar](10) NULL,
	[customer_email] [nvarchar](50) NULL,
	[customer_addresss] [nvarchar](max) NULL,
	[user_id] [nvarchar](10) NULL,
	[customer_id] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Customer] PRIMARY KEY CLUSTERED 
(
	[customer_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Order_Details]    Script Date: 4/18/2025 8:45:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Order_Details](
	[order_detail_id] [int] IDENTITY(1,1) NOT NULL,
	[order_id] [int] NULL,
	[product_id] [int] NULL,
	[service_booking_id] [int] NULL,
	[quantity] [int] NOT NULL,
	[price] [decimal](10, 2) NOT NULL,
 CONSTRAINT [PK__Order_De__3C5A4080AE1A63C2] PRIMARY KEY CLUSTERED 
(
	[order_detail_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Orders]    Script Date: 4/18/2025 8:45:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Orders](
	[order_id] [int] IDENTITY(1,1) NOT NULL,
	[order_date] [datetime] NULL,
	[total_price] [decimal](10, 2) NOT NULL,
	[status] [varchar](20) NOT NULL,
	[promotion_id] [nvarchar](50) NULL,
	[user_id] [nvarchar](10) NULL,
	[name] [nvarchar](255) NOT NULL,
	[phone] [varchar](20) NOT NULL,
	[email] [nvarchar](255) NOT NULL,
	[address] [nvarchar](255) NOT NULL,
	[payment_method] [nvarchar](100) NOT NULL,
	[shipping_fee] [int] NULL,
	[discount_value] [decimal](10, 2) NULL,
	[customer_id] [nvarchar](50) NULL,
 CONSTRAINT [PK__Orders__4659622923C8EC33] PRIMARY KEY CLUSTERED 
(
	[order_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Pet_breeds]    Script Date: 4/18/2025 8:45:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pet_breeds](
	[pet_breeds_name] [nvarchar](50) NULL,
	[pet_breeds_id] [nvarchar](50) NOT NULL,
	[pet_id] [nvarchar](50) NULL,
 CONSTRAINT [PK_Pet_type] PRIMARY KEY CLUSTERED 
(
	[pet_breeds_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Pets]    Script Date: 4/18/2025 8:45:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pets](
	[pet_id] [nvarchar](50) NOT NULL,
	[pet_name] [varchar](255) NOT NULL,
	[pet_type] [varchar](50) NOT NULL,
	[age] [int] NOT NULL,
	[weight_kg] [decimal](5, 2) NOT NULL,
	[note] [nvarchar](255) NULL,
	[pet_gender] [nchar](10) NULL,
	[staff_id] [varchar](10) NULL,
	[pet_breeds_id] [nvarchar](50) NULL,
	[customer_id] [nvarchar](50) NULL,
 CONSTRAINT [PK_Pets] PRIMARY KEY CLUSTERED 
(
	[pet_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Product_Categories]    Script Date: 4/18/2025 8:45:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Product_Categories](
	[product_category_id] [nvarchar](50) NOT NULL,
	[product_category_name] [nvarchar](255) NOT NULL,
	[product_category_description] [nvarchar](max) NULL,
 CONSTRAINT [PK__Categori__D54EE9B494AE5C41] PRIMARY KEY CLUSTERED 
(
	[product_category_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Products]    Script Date: 4/18/2025 8:45:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Products](
	[product_id] [int] IDENTITY(1,1) NOT NULL,
	[product_name] [varchar](255) NOT NULL,
	[product_description] [text] NULL,
	[product_price] [decimal](10, 2) NOT NULL,
	[product_stock_quantity] [int] NULL,
	[product_image_url] [varchar](5000) NULL,
	[product_category_id] [nvarchar](50) NULL,
	[product_description_detail] [nvarchar](max) NULL,
	[active] [bit] NULL,
 CONSTRAINT [PK__Products__47027DF5FA9C6E10] PRIMARY KEY CLUSTERED 
(
	[product_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Promotion]    Script Date: 4/18/2025 8:45:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Promotion](
	[promotion_id] [nvarchar](50) NOT NULL,
	[promotion_name] [varchar](255) NOT NULL,
	[promotion_description] [text] NULL,
	[discount_type] [varchar](10) NULL,
	[discount_value] [decimal](10, 2) NOT NULL,
	[start_date] [datetime] NOT NULL,
	[end_date] [datetime] NOT NULL,
	[min_order_value] [decimal](10, 2) NULL,
	[max_discount] [decimal](10, 2) NULL,
	[is_active] [bit] NULL,
 CONSTRAINT [PK__Promotio__2CB9556B52F0AC7D] PRIMARY KEY CLUSTERED 
(
	[promotion_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Ratings]    Script Date: 4/18/2025 8:45:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ratings](
	[rating_id] [int] IDENTITY(1,1) NOT NULL,
	[rating_star] [int] NULL,
	[comment] [nvarchar](1000) NULL,
	[order_detail_id] [int] NULL,
	[customer_id] [nvarchar](50) NULL,
 CONSTRAINT [PK__Ratings__D35B278BE4BABB10] PRIMARY KEY CLUSTERED 
(
	[rating_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Service_Booking]    Script Date: 4/18/2025 8:45:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Service_Booking](
	[service_booking_id] [int] IDENTITY(1,1) NOT NULL,
	[status] [nvarchar](50) NOT NULL,
	[service_booking_date] [date] NOT NULL,
	[service_booking_time] [time](0) NOT NULL,
	[create_at] [datetime] NULL,
	[note] [nvarchar](255) NULL,
	[pet_id] [nvarchar](50) NOT NULL,
	[schedule_id] [int] NULL,
	[customer_id] [nvarchar](50) NULL,
	[price_id] [int] NULL,
 CONSTRAINT [PK_Service_Booking] PRIMARY KEY CLUSTERED 
(
	[service_booking_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Service_Categories]    Script Date: 4/18/2025 8:45:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Service_Categories](
	[service_category_id] [nvarchar](50) NOT NULL,
	[service_category_name] [nvarchar](255) NOT NULL,
	[status] [bit] NOT NULL,
 CONSTRAINT [PK__Service___D54EE9B4CA83980F] PRIMARY KEY CLUSTERED 
(
	[service_category_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Service_Price_By_Weight]    Script Date: 4/18/2025 8:45:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Service_Price_By_Weight](
	[price_id] [int] IDENTITY(1,1) NOT NULL,
	[service_id] [nvarchar](50) NOT NULL,
	[min_weight] [decimal](5, 2) NOT NULL,
	[max_weight] [decimal](5, 2) NOT NULL,
	[price] [decimal](10, 2) NOT NULL,
 CONSTRAINT [PK_Service_Price_By_Weight] PRIMARY KEY CLUSTERED 
(
	[price_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Services]    Script Date: 4/18/2025 8:45:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Services](
	[service_id] [nvarchar](50) NOT NULL,
	[service_name] [varchar](255) NOT NULL,
	[service_description] [text] NULL,
	[service_image_url] [nvarchar](max) NULL,
	[service_category_id] [nvarchar](50) NULL,
 CONSTRAINT [PK__Services__3E0DB8AFD95EE880] PRIMARY KEY CLUSTERED 
(
	[service_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Staff]    Script Date: 4/18/2025 8:45:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Staff](
	[staff_id] [varchar](10) NOT NULL,
	[staff_full_name] [varchar](100) NOT NULL,
	[position] [varchar](50) NOT NULL,
	[staff_phone] [varchar](15) NOT NULL,
	[staff_email] [nvarchar](255) NOT NULL,
	[staff_img] [nvarchar](1000) NULL,
	[user_id] [nvarchar](10) NULL,
 CONSTRAINT [PK_Staff_1] PRIMARY KEY CLUSTERED 
(
	[staff_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 4/18/2025 8:45:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[username] [varchar](50) NOT NULL,
	[password] [varchar](255) NOT NULL,
	[verification_code] [varchar](255) NULL,
	[is_verified] [tinyint] NULL,
	[role] [nvarchar](50) NULL,
	[user_id] [nvarchar](10) NOT NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Work_Schedule]    Script Date: 4/18/2025 8:45:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Work_Schedule](
	[schedule_id] [int] IDENTITY(1,1) NOT NULL,
	[staff_id] [varchar](10) NOT NULL,
	[work_date] [date] NOT NULL,
	[start_time] [time](0) NOT NULL,
	[end_time] [time](0) NOT NULL,
	[status] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Work_Schedule] PRIMARY KEY CLUSTERED 
(
	[schedule_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Customer] ([customer_fullname], [customer_phone], [customer_email], [customer_addresss], [user_id], [customer_id]) VALUES (N'La Vo Hoang Long', N'0837155363', N'longla853@gmail.com', N'Can Tho', N'Us001', N'CS01')
INSERT [dbo].[Customer] ([customer_fullname], [customer_phone], [customer_email], [customer_addresss], [user_id], [customer_id]) VALUES (N'Nguyen Thanh Long', N'0986553126', N'longlvhce182295@fpt.edu.vn', N'388/8/2a 3/2 ', N'Us002', N'CS02')
INSERT [dbo].[Customer] ([customer_fullname], [customer_phone], [customer_email], [customer_addresss], [user_id], [customer_id]) VALUES (N'ng thanh long', N'1234523453', N'longlong465t@gmail.com', N'dalat', N'US003', N'SC03')
GO
SET IDENTITY_INSERT [dbo].[Order_Details] ON 

INSERT [dbo].[Order_Details] ([order_detail_id], [order_id], [product_id], [service_booking_id], [quantity], [price]) VALUES (1, 1, 66, NULL, 1, CAST(32.00 AS Decimal(10, 2)))
INSERT [dbo].[Order_Details] ([order_detail_id], [order_id], [product_id], [service_booking_id], [quantity], [price]) VALUES (2, 1, 67, NULL, 1, CAST(120000.00 AS Decimal(10, 2)))
INSERT [dbo].[Order_Details] ([order_detail_id], [order_id], [product_id], [service_booking_id], [quantity], [price]) VALUES (3, 1, 68, NULL, 1, CAST(180000.00 AS Decimal(10, 2)))
SET IDENTITY_INSERT [dbo].[Order_Details] OFF
GO
SET IDENTITY_INSERT [dbo].[Orders] ON 

INSERT [dbo].[Orders] ([order_id], [order_date], [total_price], [status], [promotion_id], [user_id], [name], [phone], [email], [address], [payment_method], [shipping_fee], [discount_value], [customer_id]) VALUES (1, CAST(N'2025-03-09T20:12:37.797' AS DateTime), CAST(300032.00 AS Decimal(10, 2)), N'Pending', NULL, N'1', N'nguyen thanh long', N'`123456789', N'longlong465t@gmail.com', N'can tho', N'QR', NULL, NULL, NULL)
INSERT [dbo].[Orders] ([order_id], [order_date], [total_price], [status], [promotion_id], [user_id], [name], [phone], [email], [address], [payment_method], [shipping_fee], [discount_value], [customer_id]) VALUES (2, CAST(N'2025-03-10T00:52:12.347' AS DateTime), CAST(32.00 AS Decimal(10, 2)), N'Pending', NULL, N'1', N'nguyen thanh long', N'1234567666', N'longlong465t@gmail.com', N'can tho', N'COD', NULL, NULL, NULL)
INSERT [dbo].[Orders] ([order_id], [order_date], [total_price], [status], [promotion_id], [user_id], [name], [phone], [email], [address], [payment_method], [shipping_fee], [discount_value], [customer_id]) VALUES (3, CAST(N'2025-03-11T23:49:54.997' AS DateTime), CAST(128.00 AS Decimal(10, 2)), N'Pending', NULL, N'1', N'nguyen thanh long', N'0396301693', N'longlong465t@gmail.com', N'can tho', N'QR', NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[Orders] OFF
GO
INSERT [dbo].[Pet_breeds] ([pet_breeds_name], [pet_breeds_id], [pet_id]) VALUES (N'Alaskan Malamute
', N'PB01', N'P01')
INSERT [dbo].[Pet_breeds] ([pet_breeds_name], [pet_breeds_id], [pet_id]) VALUES (N'American Bobtail', N'PB02', N'P02')
INSERT [dbo].[Pet_breeds] ([pet_breeds_name], [pet_breeds_id], [pet_id]) VALUES (N'Golden Retriever

', N'PB03', N'c0fba062-747b-48c2-9696-2b9da8547efa')
GO
INSERT [dbo].[Pets] ([pet_id], [pet_name], [pet_type], [age], [weight_kg], [note], [pet_gender], [staff_id], [pet_breeds_id], [customer_id]) VALUES (N'c0fba062-747b-48c2-9696-2b9da8547efa', N'A D?n', N'Cat', 1, CAST(4.50 AS Decimal(5, 2)), N'Bố là Minh Đén, em gái thì Thị Nâu', N'Male      ', NULL, NULL, NULL)
INSERT [dbo].[Pets] ([pet_id], [pet_name], [pet_type], [age], [weight_kg], [note], [pet_gender], [staff_id], [pet_breeds_id], [customer_id]) VALUES (N'P01', N'bo', N'dog', 2, CAST(3.00 AS Decimal(5, 2)), N'got lung cancer', N'Male      ', NULL, NULL, NULL)
INSERT [dbo].[Pets] ([pet_id], [pet_name], [pet_type], [age], [weight_kg], [note], [pet_gender], [staff_id], [pet_breeds_id], [customer_id]) VALUES (N'P02', N'meomeo', N'cat', 4, CAST(1.20 AS Decimal(5, 2)), N'good', N'Female    ', NULL, NULL, NULL)
GO
INSERT [dbo].[Product_Categories] ([product_category_id], [product_category_name], [product_category_description]) VALUES (N'CA01', N'Dogs', N'Products related to dogs such as food, toys, and accessories')
INSERT [dbo].[Product_Categories] ([product_category_id], [product_category_name], [product_category_description]) VALUES (N'CA02', N'Cats', N'Products for cats including food, litter, and toys')
INSERT [dbo].[Product_Categories] ([product_category_id], [product_category_name], [product_category_description]) VALUES (N'CA03', N'Accessories', N'Pet collars, beds, leashes, and grooming supplies')
GO
SET IDENTITY_INSERT [dbo].[Products] ON 

INSERT [dbo].[Products] ([product_id], [product_name], [product_description], [product_price], [product_stock_quantity], [product_image_url], [product_category_id], [product_description_detail], [active]) VALUES (66, N'SmartHeart Dog Food', N'Nutritious dry food for dogs, lamb and rice flavor', CAST(120000.00 AS Decimal(10, 2)), -10, N'images/SmartHeart Dog Food.png', N'CA01', N'sada', 1)
SET IDENTITY_INSERT [dbo].[Products] OFF
GO
INSERT [dbo].[Promotion] ([promotion_id], [promotion_name], [promotion_description], [discount_type], [discount_value], [start_date], [end_date], [min_order_value], [max_discount], [is_active]) VALUES (N'BLACKFRIDAY', N'Black Friday Deal', N'Biggest sale of the year!', N'fixed', CAST(100000.00 AS Decimal(10, 2)), CAST(N'2025-01-01T00:00:00.000' AS DateTime), CAST(N'2025-12-31T23:59:59.000' AS DateTime), CAST(400000.00 AS Decimal(10, 2)), CAST(10000000.00 AS Decimal(10, 2)), 1)
INSERT [dbo].[Promotion] ([promotion_id], [promotion_name], [promotion_description], [discount_type], [discount_value], [start_date], [end_date], [min_order_value], [max_discount], [is_active]) VALUES (N'EXPIRED2024', N'Expired Discount', N'This promotion has expired', N'fixed', CAST(20000.00 AS Decimal(10, 2)), CAST(N'2024-01-01T00:00:00.000' AS DateTime), CAST(N'2024-12-31T00:00:00.000' AS DateTime), CAST(100000.00 AS Decimal(10, 2)), CAST(2000000.00 AS Decimal(10, 2)), 0)
INSERT [dbo].[Promotion] ([promotion_id], [promotion_name], [promotion_description], [discount_type], [discount_value], [start_date], [end_date], [min_order_value], [max_discount], [is_active]) VALUES (N'SPRING2025', N'Spring Discount', N'Limited-time spring offer', N'fixed', CAST(50000.00 AS Decimal(10, 2)), CAST(N'2025-01-01T00:00:00.000' AS DateTime), CAST(N'2025-12-31T23:59:59.000' AS DateTime), CAST(300000.00 AS Decimal(10, 2)), CAST(5000000.00 AS Decimal(10, 2)), 1)
GO
SET IDENTITY_INSERT [dbo].[Ratings] ON 

INSERT [dbo].[Ratings] ([rating_id], [rating_star], [comment], [order_detail_id], [customer_id]) VALUES (1, 5, N'Very good service', NULL, NULL)
INSERT [dbo].[Ratings] ([rating_id], [rating_star], [comment], [order_detail_id], [customer_id]) VALUES (2, 4, N'Good I will book this service at the next time', NULL, NULL)
INSERT [dbo].[Ratings] ([rating_id], [rating_star], [comment], [order_detail_id], [customer_id]) VALUES (3, 5, N'no comment', NULL, NULL)
SET IDENTITY_INSERT [dbo].[Ratings] OFF
GO
SET IDENTITY_INSERT [dbo].[Service_Booking] ON 

INSERT [dbo].[Service_Booking] ([service_booking_id], [status], [service_booking_date], [service_booking_time], [create_at], [note], [pet_id], [schedule_id], [customer_id], [price_id]) VALUES (1, N'Cancelled', CAST(N'2025-04-11' AS Date), CAST(N'20:11:00' AS Time), CAST(N'2025-04-03T20:12:55.400' AS DateTime), N'', N'P02', NULL, NULL, NULL)
INSERT [dbo].[Service_Booking] ([service_booking_id], [status], [service_booking_date], [service_booking_time], [create_at], [note], [pet_id], [schedule_id], [customer_id], [price_id]) VALUES (2, N'Pending', CAST(N'2025-04-03' AS Date), CAST(N'20:23:00' AS Time), CAST(N'2025-04-03T20:24:13.443' AS DateTime), N'đúng có 2 con pet luôn, db có 2 con', N'P01', NULL, NULL, NULL)
INSERT [dbo].[Service_Booking] ([service_booking_id], [status], [service_booking_date], [service_booking_time], [create_at], [note], [pet_id], [schedule_id], [customer_id], [price_id]) VALUES (3, N'Pending', CAST(N'2025-04-03' AS Date), CAST(N'21:44:00' AS Time), CAST(N'2025-04-03T21:44:11.870' AS DateTime), N'book được  rồi nha', N'P01', NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[Service_Booking] OFF
GO
INSERT [dbo].[Service_Categories] ([service_category_id], [service_category_name], [status]) VALUES (N'SC01', N'	Grooming Services', 1)
INSERT [dbo].[Service_Categories] ([service_category_id], [service_category_name], [status]) VALUES (N'SC02', N'Veterinary Services', 0)
INSERT [dbo].[Service_Categories] ([service_category_id], [service_category_name], [status]) VALUES (N'SC03', N'	Pet Boarding', 1)
GO
SET IDENTITY_INSERT [dbo].[Service_Price_By_Weight] ON 

INSERT [dbo].[Service_Price_By_Weight] ([price_id], [service_id], [min_weight], [max_weight], [price]) VALUES (2, N'S01', CAST(1.00 AS Decimal(5, 2)), CAST(5.99 AS Decimal(5, 2)), CAST(100000.00 AS Decimal(10, 2)))
INSERT [dbo].[Service_Price_By_Weight] ([price_id], [service_id], [min_weight], [max_weight], [price]) VALUES (3, N'S01', CAST(6.00 AS Decimal(5, 2)), CAST(10.99 AS Decimal(5, 2)), CAST(200000.00 AS Decimal(10, 2)))
INSERT [dbo].[Service_Price_By_Weight] ([price_id], [service_id], [min_weight], [max_weight], [price]) VALUES (4, N'S01', CAST(11.00 AS Decimal(5, 2)), CAST(15.99 AS Decimal(5, 2)), CAST(300000.00 AS Decimal(10, 2)))
SET IDENTITY_INSERT [dbo].[Service_Price_By_Weight] OFF
GO
INSERT [dbo].[Services] ([service_id], [service_name], [service_description], [service_image_url], [service_category_id]) VALUES (N'S01', N'Pet Spa', N'Premium spa services for pets', N'images/image_4.jpg', N'SC06')
INSERT [dbo].[Services] ([service_id], [service_name], [service_description], [service_image_url], [service_category_id]) VALUES (N'S02', N'Bathing & Cleaning', N'Thorough bathing and cleaning for pets', N'https://th.bing.com/th/id/OIP.WSiH-3Fi5WUTsSuwPTjVZgHaE8?w=306&h=204&c=7&r=0&o=5&dpr=1.1&pid=1.7', N'SC03')
INSERT [dbo].[Services] ([service_id], [service_name], [service_description], [service_image_url], [service_category_id]) VALUES (N'S03', N'Hair Trimming', N'Professional hair trimming and styling', N'https://th.bing.com/th/id/OIP.jdC6D_-Kyp8PAg82Wht0BQHaEK?w=284&h=180&c=7&r=0&o=5&dpr=1.1&pid=1.7', N'SC01')
GO
INSERT [dbo].[Staff] ([staff_id], [staff_full_name], [position], [staff_phone], [staff_email], [staff_img], [user_id]) VALUES (N'ST01', N'KIEN', N'Warehouse', N'0987654321', N'john.smith@example.com', N'images/staff-1.jpg', NULL)
INSERT [dbo].[Staff] ([staff_id], [staff_full_name], [position], [staff_phone], [staff_email], [staff_img], [user_id]) VALUES (N'ST02', N'VIET', N'Cashier', N'0976543210', N'emily.johnson@example.com', N'images/staff-2.jpg', NULL)
INSERT [dbo].[Staff] ([staff_id], [staff_full_name], [position], [staff_phone], [staff_email], [staff_img], [user_id]) VALUES (N'ST03', N'QUOC', N'Sales', N'0965432109', N'michael.brown@example.com', N'images/staff-5.jpg', NULL)
GO
INSERT [dbo].[Users] ([username], [password], [verification_code], [is_verified], [role], [user_id]) VALUES (N'admin', N'59c32c99', NULL, 1, N'admin', N'AM004')
INSERT [dbo].[Users] ([username], [password], [verification_code], [is_verified], [role], [user_id]) VALUES (N'HoangLong', N'd4f1e363', NULL, 1, N'customer', N'Us001')
INSERT [dbo].[Users] ([username], [password], [verification_code], [is_verified], [role], [user_id]) VALUES (N'TLong', N'14c89636', NULL, 1, N'customer', N'Us002')
GO
SET IDENTITY_INSERT [dbo].[Work_Schedule] ON 

INSERT [dbo].[Work_Schedule] ([schedule_id], [staff_id], [work_date], [start_time], [end_time], [status]) VALUES (1, N'ST01', CAST(N'2025-04-16' AS Date), CAST(N'14:30:00' AS Time), CAST(N'15:30:00' AS Time), N'Available')
SET IDENTITY_INSERT [dbo].[Work_Schedule] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Categori__72E12F1B3979944B]    Script Date: 4/18/2025 8:45:15 PM ******/
ALTER TABLE [dbo].[Product_Categories] ADD  CONSTRAINT [UQ__Categori__72E12F1B3979944B] UNIQUE NONCLUSTERED 
(
	[product_category_name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Staff__B43B145FD1DB4C8C]    Script Date: 4/18/2025 8:45:15 PM ******/
ALTER TABLE [dbo].[Staff] ADD  CONSTRAINT [UQ__Staff__B43B145FD1DB4C8C] UNIQUE NONCLUSTERED 
(
	[staff_phone] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Orders] ADD  CONSTRAINT [DF__Orders__order_da__5FB337D6]  DEFAULT (getdate()) FOR [order_date]
GO
ALTER TABLE [dbo].[Pets] ADD  CONSTRAINT [DF__Pets__weight_kg__60A75C0F]  DEFAULT ((0.00)) FOR [weight_kg]
GO
ALTER TABLE [dbo].[Promotion] ADD  CONSTRAINT [DF__Promotion__is_ac__619B8048]  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[Service_Categories] ADD  CONSTRAINT [DF__Service_C__statu__628FA481]  DEFAULT ((1)) FOR [status]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ((0)) FOR [is_verified]
GO
ALTER TABLE [dbo].[Work_Schedule] ADD  DEFAULT ('Available') FOR [status]
GO
ALTER TABLE [dbo].[Customer]  WITH CHECK ADD  CONSTRAINT [FK_Customer_Users] FOREIGN KEY([user_id])
REFERENCES [dbo].[Users] ([user_id])
GO
ALTER TABLE [dbo].[Customer] CHECK CONSTRAINT [FK_Customer_Users]
GO
ALTER TABLE [dbo].[Order_Details]  WITH CHECK ADD  CONSTRAINT [FK__Order_Det__order__6D0D32F4] FOREIGN KEY([order_id])
REFERENCES [dbo].[Orders] ([order_id])
GO
ALTER TABLE [dbo].[Order_Details] CHECK CONSTRAINT [FK__Order_Det__order__6D0D32F4]
GO
ALTER TABLE [dbo].[Order_Details]  WITH CHECK ADD  CONSTRAINT [FK__Order_Det__produ__6E01572D] FOREIGN KEY([product_id])
REFERENCES [dbo].[Products] ([product_id])
GO
ALTER TABLE [dbo].[Order_Details] CHECK CONSTRAINT [FK__Order_Det__produ__6E01572D]
GO
ALTER TABLE [dbo].[Order_Details]  WITH CHECK ADD  CONSTRAINT [FK_Order_Details_Service_Booking] FOREIGN KEY([service_booking_id])
REFERENCES [dbo].[Service_Booking] ([service_booking_id])
GO
ALTER TABLE [dbo].[Order_Details] CHECK CONSTRAINT [FK_Order_Details_Service_Booking]
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [FK_Orders_Customer] FOREIGN KEY([customer_id])
REFERENCES [dbo].[Customer] ([customer_id])
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [FK_Orders_Customer]
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [FK_Orders_Promotion] FOREIGN KEY([promotion_id])
REFERENCES [dbo].[Promotion] ([promotion_id])
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [FK_Orders_Promotion]
GO
ALTER TABLE [dbo].[Pets]  WITH CHECK ADD  CONSTRAINT [FK_Pets_Customer] FOREIGN KEY([customer_id])
REFERENCES [dbo].[Customer] ([customer_id])
GO
ALTER TABLE [dbo].[Pets] CHECK CONSTRAINT [FK_Pets_Customer]
GO
ALTER TABLE [dbo].[Pets]  WITH CHECK ADD  CONSTRAINT [FK_Pets_Pet_breeds] FOREIGN KEY([pet_breeds_id])
REFERENCES [dbo].[Pet_breeds] ([pet_breeds_id])
GO
ALTER TABLE [dbo].[Pets] CHECK CONSTRAINT [FK_Pets_Pet_breeds]
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD  CONSTRAINT [fk_products_category] FOREIGN KEY([product_category_id])
REFERENCES [dbo].[Product_Categories] ([product_category_id])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[Products] CHECK CONSTRAINT [fk_products_category]
GO
ALTER TABLE [dbo].[Ratings]  WITH CHECK ADD  CONSTRAINT [FK_Ratings_Customer] FOREIGN KEY([customer_id])
REFERENCES [dbo].[Customer] ([customer_id])
GO
ALTER TABLE [dbo].[Ratings] CHECK CONSTRAINT [FK_Ratings_Customer]
GO
ALTER TABLE [dbo].[Ratings]  WITH CHECK ADD  CONSTRAINT [FK_Ratings_Order_Details] FOREIGN KEY([order_detail_id])
REFERENCES [dbo].[Order_Details] ([order_detail_id])
GO
ALTER TABLE [dbo].[Ratings] CHECK CONSTRAINT [FK_Ratings_Order_Details]
GO
ALTER TABLE [dbo].[Service_Booking]  WITH CHECK ADD  CONSTRAINT [FK_Service_Booking_Customer] FOREIGN KEY([customer_id])
REFERENCES [dbo].[Customer] ([customer_id])
GO
ALTER TABLE [dbo].[Service_Booking] CHECK CONSTRAINT [FK_Service_Booking_Customer]
GO
ALTER TABLE [dbo].[Service_Booking]  WITH CHECK ADD  CONSTRAINT [FK_Service_Booking_Pets] FOREIGN KEY([pet_id])
REFERENCES [dbo].[Pets] ([pet_id])
GO
ALTER TABLE [dbo].[Service_Booking] CHECK CONSTRAINT [FK_Service_Booking_Pets]
GO
ALTER TABLE [dbo].[Service_Booking]  WITH CHECK ADD  CONSTRAINT [FK_Service_Booking_Service_Price_By_Weight] FOREIGN KEY([price_id])
REFERENCES [dbo].[Service_Price_By_Weight] ([price_id])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[Service_Booking] CHECK CONSTRAINT [FK_Service_Booking_Service_Price_By_Weight]
GO
ALTER TABLE [dbo].[Service_Booking]  WITH CHECK ADD  CONSTRAINT [FK_Service_Booking_Work_Schedule] FOREIGN KEY([schedule_id])
REFERENCES [dbo].[Work_Schedule] ([schedule_id])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[Service_Booking] CHECK CONSTRAINT [FK_Service_Booking_Work_Schedule]
GO
ALTER TABLE [dbo].[Service_Price_By_Weight]  WITH CHECK ADD  CONSTRAINT [FK_Service_Price_By_Weight_Service] FOREIGN KEY([service_id])
REFERENCES [dbo].[Services] ([service_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Service_Price_By_Weight] CHECK CONSTRAINT [FK_Service_Price_By_Weight_Service]
GO
ALTER TABLE [dbo].[Services]  WITH CHECK ADD  CONSTRAINT [FK_Services_ServiceCategories] FOREIGN KEY([service_category_id])
REFERENCES [dbo].[Service_Categories] ([service_category_id])
GO
ALTER TABLE [dbo].[Services] CHECK CONSTRAINT [FK_Services_ServiceCategories]
GO
ALTER TABLE [dbo].[Staff]  WITH CHECK ADD  CONSTRAINT [FK_Staff_Users] FOREIGN KEY([user_id])
REFERENCES [dbo].[Users] ([user_id])
GO
ALTER TABLE [dbo].[Staff] CHECK CONSTRAINT [FK_Staff_Users]
GO
ALTER TABLE [dbo].[Work_Schedule]  WITH CHECK ADD  CONSTRAINT [FK_Work_Schedule_Staff] FOREIGN KEY([staff_id])
REFERENCES [dbo].[Staff] ([staff_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Work_Schedule] CHECK CONSTRAINT [FK_Work_Schedule_Staff]
GO
ALTER TABLE [dbo].[Promotion]  WITH CHECK ADD  CONSTRAINT [CK__Promotion__disco__797309D9] CHECK  (([discount_type]='fixed' OR [discount_type]='percent'))
GO
ALTER TABLE [dbo].[Promotion] CHECK CONSTRAINT [CK__Promotion__disco__797309D9]
GO
ALTER TABLE [dbo].[Ratings]  WITH CHECK ADD  CONSTRAINT [CK__Ratings__rating___7A672E12] CHECK  (([rating_star]>=(1) AND [rating_star]<=(5)))
GO
ALTER TABLE [dbo].[Ratings] CHECK CONSTRAINT [CK__Ratings__rating___7A672E12]
GO
USE [master]
GO
