.cart-icon {
    position: relative;
}

.cart-count {
    position: absolute;
    top: 20px; /* Điều chỉnh giá trị này để di chuyển badge lên/xuống */
    right: -5px; /* Điều chỉnh giá trị này để di chuyển badge trái/phải */
    font-size: 0.75rem;
    background-color: #dc3545;
    color: white;
    width: 20px; /* Đặt chiều rộng cố định */
    height: 20px; /* Đặt chiều cao cố định */
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%; /* Đảm bảo badge có hình tròn */
}