body {
    background: url('images/space-time-continuum.jpg') no-repeat center center fixed;
    background-size: cover;
    color: #fff;
}
.navbar {
    background: rgba(0, 0, 0, 0.8);
}
.navbar-brand {
    color: #fff;
}
.navbar-nav .nav-link {
    color: #fff;
}
.navbar-nav .nav-link:hover {
    color: #00bd56;
}
#sidebar {
    background: rgba(0, 0, 0, 0.8);
    color: #fff;
    min-height: 100vh;
}
#sidebar .navbar-brand {
    color: #fff;
    font-size: 1.5rem;
    font-weight: bold;
}
#sidebar .components {
    padding: 0px;
}
#sidebar .components li {
    padding: 10px;
}
#sidebar .components li a {
    color: #adb5bd;
    text-decoration: none;
    display: block;
    padding: 10px;
    transition: background 0.3s, color 0.3s;
}
#sidebar .components li a:hover, #sidebar .components li.active a {
    background: #00bd56;
    color: #fff;
}
#content {
    padding: 20px;
    background: rgba(255, 255, 255, 0.9);
    min-height: 100vh;
    border-radius: 10px;
}
.card {
    background: rgba(0, 0, 0, 0.8);
    border: none;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
}
.card:hover {
    transform: scale(1.05);
}
.card-header {
    background: rgba(0, 0, 0, 0.8);
    border-bottom: 1px solid #00bd56;
    font-weight: bold;
    color: #fff;
}
.card-body {
    text-align: center;
    color: #fff;
}
.btn-light {
    background: #00bd56;
    color: #fff;
}
.btn-light:hover {
    background: #fff;
    color: #00bd56;
}
.content-box {
    margin-top: 20px;
    padding-top: 30px;
}