/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Feb 26, 2025, 2:11:26 AM
    Author     : Nguyen Thanh Long - CE182041 
*/

/* Sidebar styles */
#sidebar {
    background: #f8f9fa;
    padding: 15px;
    height: 100vh;
}

#sidebar .nav-link {
    color: #333;
    font-weight: 500;
    padding: 10px 15px;
    border-radius: 5px;
    transition: background 0.3s, color 0.3s;
}

#sidebar .nav-link:hover, #sidebar .nav-link.active {
    background: rgb(0, 189, 86);
    color: #fff;
}

/* Main content styles */
.main-content {
    padding: 20px;
}

.card {
    margin-top: 20px;
}

.card-header {
    background:rgb(0, 189, 86);
    color: #fff;
    font-weight: bold;
}

.card-body p {
    margin-bottom: 10px;
    font-size: 16px;
}